{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/ico" href="{% static 'assets/images/favicon.ico' %}"/>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/visualization/d3/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/ui/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/pickers/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/touchspin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
    {#    date time picker js#}
    <script type="text/javascript" src="{% static 'assets/js/plugins/pickers/anytime.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/pickers/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.date.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.time.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/legacy.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
    {#<script type="text/javascript" src="{% static 'assets/js/pages/dashboard.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'assets/js/pages/form_input_groups.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/pages/datatables_basic.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/pages/form_select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/pages/picker_date.js' %}"></script>
    <!-- /theme JS files -->

</head>
<body>
<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="">
            {#<img src="{% static 'assets/images/logo_light.png' %}" alt="Employee Payroll System">#}
            <b>Employee Payroll System</b>
        </a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">

        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown dropdown-user">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{% static 'assets/images/placeholder.jpg' %}" alt=""> <span>{{ user.username }}</span> <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/settings/"><i class="icon-cog5"></i> Settings</a></li>
                    <li><a href="/logout/"><i class="icon-switch2"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-user">
                    <div class="category-content">
                        <div class="media">
                            <a href="javascript:void(0);" class="media-left"> <img src="{% static 'assets/images/placeholder.jpg' %}" class="img-circle img-sm" alt=""> </a>

                            <div class="media-body valign-middle">
                                <span class="media-heading text-semibold">{{ user.first_name }} {{ user.last_name }}</span>

                                <div class="text-size-mini text-muted">
                                    {#<i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->

                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">

                            <!-- Main -->
                            <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i>
                            </li>
                            <li>
                                <a href="/"><i class="icon-home4"></i><span>Dashboard</span></a>
                            </li>
                            <li class="active">
                                <a href="javascript:void(0);"><i class="icon-stack2"></i> <span>Main Menu</span></a>
                                <ul>
                                    <li><a href="/employee/">Employee</a></li>
                                    <li><a href="/attendance/">Employee Attendance</a></li>
                                    <li><a href="/advance_payment">Advance Payment</a></li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="javascript:void(0);"><i class="icon-graph"></i> <span>Reports</span></a>
                                <ul>
                                    <li><a href="/attendance_report">Employee Attendance Report</a></li>
                                    <li><a href="/salary_report">Employee Salary Report</a></li>
                                </ul>
                            </li>
                            <!-- /main -->

                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->

        <!-- Main content -->
        {% block content %}
            {% block footer-content %}
            {% endblock %}
        {% endblock %}
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->
</body>
</html>