{% extends "includes/base.html" %}{% load mathfilters %}<title>{% block title %}Employee Payroll System ::
    Attendance{% endblock %}</title>

{% block content %}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#cmbEmployee").change(function () {
                jQuery.ajax({
                    type: "POST", url: "/ajax_employee_last_attendance/", data: {'employee': jQuery('#cmbEmployee').val(), 'csrfmiddlewaretoken': '{{ csrf_token }}'}, success: function (result) {
                        if (result.button == "Punch In") {
                            jQuery("#txtDate").attr('disabled', false);
                            jQuery("#hfAttendanceId").val();
                            if (result.last_punch_out_time != undefined && result.last_punch_out_time != '') {
                                jQuery("#last_record").removeClass('hidden');
                                jQuery("#last_record_value").html("Last Punch Out Time : " + result.last_punch_out_time);
                            } else {
                                jQuery("#last_record").addClass('hidden');
                            }
                        } else if (result.button == "Punch Out") {
                            jQuery("#txtDate").attr('disabled', true);
                            jQuery("#hfAttendanceId").val(result.id);
                            if (result.last_punch_in_time != undefined && result.last_punch_in_time != '') {
                                jQuery("#last_record").removeClass('hidden');
                                jQuery("#last_record_value").html("Last Punch In Time : " + result.last_punch_in_time);
                            } else {
                                jQuery("#last_record").addClass('hidden');
                            }
                        }
                        jQuery("#btnSave").html(result.button + '<i class="icon-clipboard2 position-right">');
                    }
                });
                return false;
            });
        });
    </script>

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        <div class="page-header page-header-default">
            <div class="page-header-content">
                <div class="page-title">
                    <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Attendance</h4>
                </div>

                <!--<div class="heading-elements">
                    <div class="heading-btn-group">
                        <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                    </div>
                </div> -->
            </div>

            <!-- Breadcrumb -->
            <div class="breadcrumb-line">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="icon-home2 position-left"></i> Home</a></li>
                    <li>Main Menu</li>
                    <li class="active">Attendance</li>
                </ul>
            </div>
            <!-- Breadcrumb -->

        </div>
        <!-- /page header -->

        <!-- Content area -->
        <div class="content">
            <form class="form-horizontal" {% url 'attendance' %} method="post">
                {% csrf_token %} <input type="hidden" name="hfAttendanceId" id="hfAttendanceId" value="">

                <div class="row">
                    <div class="col-lg-12">

                        {% if request.session.message %}
                            <div class="alert alert-success no-border">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span>&times;</span><span class="sr-only">Close</span></button>
                                <span class="text-semibold">Success!</span> {{ request.session.message }}
                            </div>
                        {% endif %}

                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h6 class="panel-title">Manage Attendance</h6>
                            </div>

                            <div class="panel-body">
                                <fieldset class="content-group">

                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Employee : </label>

                                        <div class="col-lg-4">
                                            <select class="select-search" name="cmbEmployee" id="cmbEmployee" required {% if readonly == 1 %} disabled {% endif %}>
                                                <option value="">Select Employee</option>
                                                {% for employee in employees %}
                                                    <option value="{{ employee.id }}" {% if attendance.employee.id == employee.id %} selected="selected" {% endif %}>{{ employee.firstname }} {{ employee.lastname }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group hidden" id="last_record">

                                        <label class="control-label col-lg-2"></label>

                                        <div class="col-lg-4" id="last_record_value">
                                            <div class="input-group">
                                                <label class="" id="last_record_value"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Date : </label>

                                        <div class="col-lg-4">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="icon-calendar3"></i></span> <input type="text" class="form-control pickadate-accessibility" name="txtDate" id="txtDate" value="{% if attendance.date %} {{ attendance.date|date:"d/m/Y" }} {% else %} {% now "d/m/Y" %} {% endif %}" required{% if readonly == 1 %} readonly {% endif %}>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Time : </label>

                                        <div class="col-lg-4">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="icon-watch2"></i></span> <input type="text" class="form-control" name="txtTime" id="anytime-time" value="{% now "H:i" %}" required{% if readonly == 1 %} readonly {% endif %}>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Notes : </label>

                                        <div class="col-lg-4">
                                            <textarea name="txtNotes" id="txtNotes" rows="5" cols="5" class="form-control" {% if readonly == 1 %} readonly {% endif %}></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            <button type="submit" class="btn btn-success" name="btnSave" id="btnSave" value="save">Punch In<i class="icon-clipboard2 position-right"></i></button>
                                            <button type="reset" class="btn btn-primary pull-right" name="btnCancel">Cancel<i class="icon-cross2 position-right"></i></button>
                                        </div>
                                    </div>

                                </fieldset>

                            </div>

                            <div class="panel-heading">
                                <h6 class="panel-title">View Attendance</h6>

                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <table class="table datatable-basic">
                                <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>Date</th>
                                    <th>Punch In</th>
                                    <th>Punch Out</th>
                                    <th>Hours</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for attendance in all_attendance %}
                                    <tr>
                                        <td>{{ attendance.employee.firstname }} {{ attendance.employee.lastname }}</td>
                                        <td>{{ attendance.date|date:"d/m/Y" }}</td>
                                        <td>{{ attendance.punch_in_time|time:"H:i" }}</td>
                                        <td>{{ attendance.punch_out_time|time:"H:i" }}</td>
                                        <td>{{ attendance.hours }}</td>
                                        <td class="text-center">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-menu9"></i> </a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        {#<li><a href="{% url 'attendance_action' 'view' attendance.pk %}"><i class="icon-eye4"></i> View</a></li>#} {#<li><a href="{% url 'attendance_action' 'edit' attendance.pk %}"><i class="icon-pencil3"></i> Edit</a></li>#}
                                                        <li><a href="{% url 'attendance_action' 'delete' attendance.pk %}"><i class="icon-trash"></i> Delete</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </form>
            <!-- Footer -->
            <div class="footer text-muted">
                {% block footer-content %}
                    &copy; {% now 'Y' %}. <a href="">Employee Payroll System</a> by
                    <a href="" target="_blank">Jadiya Nikhil</a>
                {% endblock %}
            </div>
            <!-- /footer -->

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->
{% endblock %}
