<!DOCTYPE html>
<html lang="en">
<body>
    <p>Hi {{ user }},</p>
    <p>We got a request to reset your account password.</p>
    <a  style="background-color: #3FCF96; color: #ffffff; text-decoration: none; text-align: center; display: block; padding: 10px; margin:15px 60px;" href="{{ page_url }}" target="_blank">Reset Password</a>
    <p>If you ingnore this message, your password won't be changed.</p>
    <p>Employee Payroll System Team,</p>
    <p style="font-style: italic">Thank You.</p>
</body>
</html>