{% extends "includes/base-simple.html" %}

<title>{% block title %}Employee Payroll System :: Forgot Password{% endblock %}</title>

{% block content %}
    <body class="login-container">

    <!-- Main navbar --><!-- /main navbar -->

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">

                    <form action="{% url 'forgot_password' %}" method="post">
                        {% csrf_token %}<!-- Password recovery -->
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                                <h5 class="content-group">Password recovery
                                    <small class="display-block">We'll send you instructions in email</small>
                                </h5>
                            </div>

                            <div class="form-group has-feedback-left">
                                <input type="text" class="form-control" name="txtUsername" id="txtUsername" placeholder="Username" required="required" autocomplete="off">

                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group has-feedback-left">
                                <input type="email" name="txtEmail" id="txtEmail" class="form-control" placeholder="Your email" required>

                                <div class="form-control-feedback">
                                    <i class="icon-mail5 text-muted"></i>
                                </div>
                            </div>

                            <button type="submit" class="btn bg-blue btn-block">Reset password <i class="icon-arrow-right14 position-right"></i></button>

                            {% if message %}
                                <br><p class="display-block text-center">{{ message }}</p>
                            {% endif %}
                        </div>
                        <!-- /password recovery -->
                    </form>

                    <!-- Footer -->
                    <div class="footer text-muted text-center">
                        &copy; {% now 'Y' %}. <a href="/">Employee Payroll System</a> by <a href="/" target="_blank">Jadiya Nikhil</a>
                    </div>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

    </body>
{% endblock %}