{% extends "includes/base-simple.html" %}

<title>{% block title %}Employee Payroll System :: Reset Password{% endblock %}</title>

{% block content %}

    <script type="text/javascript">
        jQuery(document).ready(function () {

        });

        function checkPassword(){
            var password = jQuery("#txtPassword").val();
            var confirm_password = jQuery("#txtConfirmPassword").val();
            if(password !== confirm_password){
                jQuery("#message").html('Password and Confirm Password not match');
                return false;
            }else{
                jQuery("#message").html('');
                return true;
            }
        }
    </script>

    <body class="login-container">

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">

                    <form action="{% url 'reset_password' %}" method="post" onsubmit="return checkPassword()">
                        {% csrf_token %}
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                                <h5 class="content-group">Reset Password
                                    <small class="display-block">Please enter new password</small>
                                </h5>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="password" class="form-control" name="txtPassword" id="txtPassword" placeholder="New Password" required="required" autocomplete="off" onkeyup="checkPassword()">

                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="password" class="form-control" name="txtConfirmPassword" id="txtConfirmPassword" placeholder="Confirm Password" required="required" autocomplete="off"  onkeyup="checkPassword()">

                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <button type="submit" class="btn bg-blue btn-block">Reset password <i class="icon-arrow-right14 position-right"></i></button>

                            {% if message %}
                                <br><p class="display-block text-center" id="message">{{ message }}</p>
                            {% endif %}

                            <br><p class="display-block text-center text-danger" id="message"></p>
                        </div>
                        <!-- /password recovery -->
                    </form>

                    <!-- Footer -->
                    <div class="footer text-muted text-center">
                        &copy; {% now 'Y' %}. <a href="/">Employee Payroll System</a> by <a href="/" target="_blank">Jadiya Nikhil</a>
                    </div>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

    </body>
{% endblock %}